@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 4%;
    padding-right: 6%;
    box-sizing: border-box;
    overflow: hidden;
}


.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}


.logo{
    font-size: 2.2rem;
    width: 23.5rem;
    cursor:pointer;
    margin:20px 0;
}

.logo span{
    color: rgb(5, 190, 5);
}

#Logo{
    width: 1.7rem;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;

}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

nav ul li a:hover{
    color: rgb(5, 190, 5);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    animation-duration: 2s;
   animation-name: slidein;
}


@keyframes slidein {
    from {
      margin-left: 80%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }



.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px ;
    border-left: 5px solid rgba(165, 165, 165, 0.583);
    padding: 1rem;
}

.col-1 h2{
    font-size: 35px;
    color: #000000;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 h3{
    font-size: 18px;
    color: #545454;
    font-weight: 100;
    margin: 20px 0 10px;
}


.col-1 p{
    margin: 10px 0;
    font-size: 16px ;
    color: #89898994;
    font-weight: 100;
}

button{
    margin: 15px 0;
    font-size: 18px;
    width: 140px;
    border: 0;
    padding: 12px 12px;
    outline: none;
    color: #fff;
    background: rgb(5, 190, 5) ;
    border-radius: 10px;
    cursor: pointer;
    transition:ease-in-out 0.25s;
}

button:hover{
    /*
    display: flex;
    align-items: center;*/

    transform: scale(1.07);
    border: 2px solid rgb(30, 255, 34) ;
    
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;

}

.col-2 .Background-img1{
    width: 30rem;
    height: 30rem;
    border-radius: 3rem;

}

#Demo{
    color: rgb(5, 190, 5);
    font-size: 1.8rem;
    text-decoration: none;
    background: rgba(199, 199, 199, 0.583);
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
}

#Demo:hover{
    color: rgb(30, 255, 34);
    background: rgba(165, 165, 165, 0.583);
    border: 2px solid rgb(30, 255, 34);
}

/*
.colour-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(rgb(0, 135, 0), rgb(51, 215, 39));
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(px);

}*/

.social-links{
    height: 20px;
    margin: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.social-links a{
    color: #000000;
    margin: 20px;
    font-size: 1.3rem;
    
}

.social-links a:hover{
    color:rgb(5, 190, 5) ;
}


 .cardBx{
     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-right: 1rem;
    margin-bottom: 4rem;
    

}
 .cardBx .card{
    width: 25%;
    padding: 15px 25px;
    
    border: 2px solid rgb(255, 255, 255);
 
    text-align: center;
    background: rgb(126, 126, 126);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    transition: 0.2s;
    position: relative;
}

.cardBx .card a{
    color: rgb(5, 190, 5);
    font-size: 3rem;

}
 .cardBx .card p{
    color: rgb(255, 255, 255);
    text-transform: lowercase;

}

 .cardBx .card:hover{
    border: 3px solid rgb(5, 190, 5);

}

.cardBx .card h4{
    color: white;

}

#help-box{
    animation-duration: 2s;
animation-name: slidein;

}

#video{
    padding-left: 20%;
    padding-top: 30%;
}



@keyframes slidein {
 from {
   margin-left: 80%;
   width: 100%;
 }

 to {
   margin-left: 0%;
   width: 100%;
 }
}




@media only screen and (max-width:700px){

    .logo{
        font-size: 1.7rem;
    }

    nav ul{
        width: 100%;
        background:linear-gradient(rgb(0, 107, 0), rgb(52, 216, 40)) ;
        position: absolute;
        top: 75px;
        right:0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color:#fff ;
    }

    .menu-icon{
        display: block;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2{
        flex-basis:100%;
        margin-bottom:50px ;
    }

    .col-2 .Background-img1{
        height: 300px;
        width: 400px;
    }

    .col-1{
        flex-basis: 100%;
        margin-left: 5px ;
    

    }

    .col-1 h2{
        font-size: 35px;
    }

    .col-1 h3{
        font-size: 15px;
    }
}
